# venv / IDE
.venv/
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Django
db.sqlite3
/media/
/staticfiles/   # <-- STATIC_ROOT, output-only

# Logs & local run artifacts
/logs/
/*.log

# Env / secrets
.env
.env.*
